@import "../colors.scss";

.index_header{
    display: flex;
    justify-content: space-between;
    padding: 1.4rem;
    align-items: center;

    .actions{
        display: flex;
        justify-content: space-between;
    }
} 

.main_index{
    .empresas{
        overflow: auto;
        background-color:$primary_green;
        width: 90%;
        margin: auto;
        height: 90vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        border-radius: 6px;

        .empresa{
            border: thin solid black;
            border-radius: 8px;
            transition: all .4s;

            a{
                display: flex;
                text-decoration: none;
                color: $primary_white;
                align-items: center;
                padding: .8rem;

                p{
                    margin-left: 1rem;
                    font-weight: bolder;
                    font-size: larger;
                }
            }

            &:hover{
                transform: scale(1.02);
            }
        }
    }
}