@import '../colors.scss';

.register_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary_white;

    form{
        display: flex;
        flex-direction: column;
        background-color: $primary_green;
        border: none;
        padding: 2rem;
        width: 80%;
        border-radius: 16px;

        header{
            h1{
                color: $primary_white;
            }
        }
        
        label{
            margin-top: 1rem;
            margin-bottom: .7rem;
            font-size: larger;
            color: $primary_white;
        }

        input{
            padding: .4rem;
            border-radius: 4px;
            border: none;
            outline: none;
            padding: .8rem;
            font-size: large;
        }

        button{
            margin: 1rem auto 0 auto;
            padding: .98rem;
            border-radius: 5px;
            border: none; 
            width: 80%;
            font-size: larger;
        }

        .error{
            margin: 1rem auto 0 auto;
            color: red;
            font-size: larger;
            display: none;
        }
    }
}